@model DRK.DVDCentral.BL.Models.ShoppingCart

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>

           
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th>
                Cost
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.Items)
        {
            <tr>
               


                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                
                <td>
                    @Html.ActionLink("Remove", "Remove", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tax)
            </td>
            <td>
                @Html.DisplayFor(model => model.Total)
            </td>

            <td>
                <a asp-controller="ShoppingCart" asp-action="Checkout" class="btn btn-sm btn-primary">Checkout</a>
            </td>
        </tr>


@*@foreach (var item in Model.Items) {
        <tr>
          
            <td>
                @Html.DisplayFor(model => model.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tax)
            </td>
            <td>
                @Html.DisplayFor(model => model.Total)
            </td>

                <td>
                    <a asp-controller="ShoppingCart" asp-action="Checkout" class="btn btn-sm btn-primary">Checkout</a>
                </td>
        </tr>
}*@

    </tbody>
</table>
