@model IEnumerable<DRK.DVDCentral.BL.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Movies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card mb-2 bg-blue">
                <div class="card-header bg-blue">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>

                <div class="card-body">
                   
                    <img src="~/images/@item.ImagePath" class="card-img" alt="@item.Description" onclick="on('/images/@item.ImagePath')" />
                    

                    <div class="bg-white"> 
                    
                        <!--I think this works fine, encloses the movie description in a readonly label -->
                    <label></label> <input type="text" class="custom" value="@item.Description" readonly /><br />

                    Rating : @item.RatingDescription <br/>
                    Format : @item.FormatDescription <br />
                    In-Stock Quantity : @item.InStkQty <br />
                    Director FullName : @item.DirectorFullName <br />
                    Cost : @item.Cost <br />
                    </div>

           


                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Details">Details</a>
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                    <input class="btn btn-sm btn-primary"
                           type="button"
                           onclick="AddToCart(@item.Id)" value="+" />
                </div>
            </div>
        </div>
    }
</div>

